{% block content %}
  <h2><a href="{% url 'buy_game' game_id=game.id %}">{{ game.name }}</a></h2>
  <p>Количество товара: {{ game.quantity }}</p>
  <p>Цена: {{ game.price }}</p>
  <p>Рейтинг: {{ game.rate }}</p>
  <img src="{{ game.poster.url }}">
  
  {% if game.quantity > 0 %}
    <form action="{% url 'buy_game' game_id=game.id %}" method="post">
      {% csrf_token %}
      <button type="submit">Купить</button>
    </form>
  {% else %}
    <p>Извините, данная игра закончилась.</p>
  {% endif %}
  
{% endblock %}
